<!doctype html>
<html>

<head>
    <title>Axel web interface</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <style>
        body 		{ padding-top:80px; }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById('sub-passwords').disabled = true
        })
        const check = function() {
            if (document.getElementById('newpassword').value == document.getElementById('renewpassword').value) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'Passwords matching';
                document.getElementById('sub-passwords').disabled = false
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'Passwords not matching';
                document.getElementById('sub-passwords').disabled = true
            }
            if(document.getElementById('newpassword').value.length < 6){
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'Password is too small';
                document.getElementById('sub-passwords').disabled = true
            }
            if(document.getElementById('oldpassword').value.length < 6){
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'Old password is too small';
                document.getElementById('sub-passwords').disabled = true
            }
        }

        function changePassword(){
            const newpassword = document.getElementById('newpassword').value
            const oldpassword = document.getElementById('oldpassword').value
            //const email = $.cookie("email")
            let data = {newpassword: newpassword, oldpassword: oldpassword}
            data = Object.keys(data).map(key => encodeURIComponent(key) + '=' + encodeURIComponent(data[key])).join('&')
            fetch('/user-profile/change-password', {method:"POST",mode: "cors",headers: {
                'Content-Type':'application/x-www-form-urlencoded', 'Access-Control-Allow-Origin':'*'
            }, body: data}).then(response => {
                return response.text()
            }).then(data => {
                data = JSON.parse(data)
                console.log(data)
                if(data.code === 1){
                    document.getElementById('message').style.color = 'red';
                    document.getElementById('message').innerHTML = data.message;
                }
                if(data.code === 0){
				    document.getElementById('message').style.color = 'green';
				    document.getElementById('message').innerHTML = data.message;
				    setTimeout(function(){
					    window.location.replace('/logout')
				    }, 1000)
			    }
            })
        }
    </script>
    </head>

    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
    
                <h1><span class="fa fa-sign-in"></span> Change password</h1><br>
                <!-- CHANGING PASSWORD FORM -->
                <form action="/user-settings/change-password" method="post">
                    <div class="form-group">
                        <label>Old Password</label>
                        <input type="password" class="form-control" maxlength="30" id="oldpassword" name="oldpassword" onkeyup='check();'>
                    </div>
                    <div class="form-group">
                        <label>New password</label>
                        <input type="password" class="form-control" maxlength="30" id="newpassword" name="newpassword" onkeyup='check();'>
                    </div>
                    <div class="form-group">
                        <label>Repeat new password</label>
                        <input type="password" class="form-control" maxlength="30" id="renewpassword" name="renewpassword" onkeyup='check();'>
                    </div>
                    <span id="message"></span><br><br>
    
                    <button type="button" id="sub-passwords" onclick="changePassword()" class="btn btn-warning btn-lg">Change password</button>
                </form>
    
                <br>
                <a href="/user-profile/">Back to settings</a>
                <hr>
            </div>
        </div>
    </body>
    
</html>